ipykernel
langchain
openai
python-dotenv
numpy
pandas
scipy
langchain-openai
langchain-community
langchain-core
python-dotenv
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
langchain-huggingface
duckdb
langchain-groq
duckduckgo-search==5.3.1b1
mysql-connector-python
SQLAlchemy
validators==0.20.0
youtube_transcript_api
pytube
unstructured
numexpr
huggingface_hub
langchain-pinecone